@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: "Source Code Pro", Times, serif;
  height: 100vh;
  width: 100%;
  background: url(img/Nature.jpg) center no-repeat;
  background-size: cover;
}
.warpper {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  overflow: hidden;
}

.containerBackground {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  animation: glowButton 20s linear infinite;
  border-radius: 10px;
  width: 554px;
}

.container {
  width: 550px;
  height: 650px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 2px auto;
}

h1 {
  color: white;
}
h3 {
  color: white;
  margin: 10px 20px;
  font-size: 30px;
}
canvas {
  margin-bottom: 10px;
}
button {
  width: 100px;
  height: 40px;
  margin: 5px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowButton 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

button:active {
  color: #000;
}

button:active:after {
  background: transparent;
}

button:hover:before {
  opacity: 1;
}

.btn {
  width: 500px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}
@media (max-width: 500px) {
  body {
    width: 100%;
    overflow: hidden;
  }
  .warpper {
    max-width: 100%;
    overflow: hidden;
  }
  .containerBackground {
    width: 354px;
  }
  .container {
    width: 350px;
  }
  canvas {
    width: 300px;
  }
  .btn {
    width: 400px;
  }
  button {
    width: 70px;
  }
}

@keyframes glowButton {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowBg {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
